# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/generated/prisma

# Prisma
/prisma/dev.db
/prisma/dev.sqlite
/prisma/*.db
/prisma/*.sqlite

# Prisma generated client
/node_modules/.prisma/
/src/generated/prisma/   # if you customized your output

# Environment variables
.env
.env.local
.env.*.local


/generated/prisma

/src/generated/prisma

/generated/prisma

/src/generated/prisma
